<div class="container">
    <mat-toolbar>
        <span>{{ "users" | translate }}</span>
        <div class="example-spacer"></div>
        <button mat-raised-button style="color: #107fff" routerLink="/dashboard/create-user">{{ "add" | translate }}</button>
    </mat-toolbar>

    <div *ngIf="listUsers.length > 0">
        <mat-form-field appearance="standard">
            <mat-label>{{ "filter" | translate }}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input autocomplete="off">
        </mat-form-field>
        
        <div class="mat-elevation-z8"> 
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "user" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>
            
                <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "name" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "surname" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                </ng-container>
            
                <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "gender" | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>
        
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element, let i = index" style="text-align: right;">
                        <a class="pointer" style="color: #a8dab5" matTooltip="Ver usuario">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer" style="color: #f4bc69" matTooltip="Editar usuario">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" (click)="deleteUser(i)" style="color: #e65252" matTooltip="Eliminar usuario">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <h3 *ngIf="listUsers.length == 0">{{ "noUsers" | translate }}</h3>

</div>
