<mat-toolbar style="background-color: #1b6093; color: white">
    <span>Globons</span>
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre | translate }}</button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon routerLink="/logout">logout</mat-icon>
      </button>

</mat-toolbar>