
<router-outlet>
    <select #langSelect (change)="changeLang(langSelect.value)">
        <option *ngFor="let lang of langs" [value]="lang">
        {{ lang }}
        </option>
    </select>
</router-outlet>

