.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f5f5f5;
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.inputs {
    width: 80%;
}

.button {
    height: 40px;
}

.spinner {
    margin: 0 auto;
}