<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
        
        <form *ngIf="!loading" [formGroup]= "form" (ngSubmit)="ingresar()">
            <img src="./assets/img/programmer.png" width="50%">
            <h1 style="color: #1b6093">{{ "login" | translate }} </h1>
            <mat-form-field class="inputs" appearance="fill">
                <mat-label style="color: #1b6093">Usuario</mat-label>
                <input matInput formControlName="user">
            </mat-form-field>
            <mat-form-field class="inputs" appearance="fill">
                <mat-label style="color: #1b6093">Contraseña</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button style="color: #107fff" class="inputs button" [disabled]="form.invalid">Ingresar</button>
        </form>

    </div>
</div>
