<div class="container">
    <mat-toolbar>
        <span>{{ "createUser" | translate }}</span>
    </mat-toolbar>

    <mat-card class="card">
        <form [formGroup]="form" (ngSubmit)="addUser()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="fields">
                        <mat-label>Email</mat-label>
                        <input matInput autocomplete="off" formControlName="user">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./assets/img/team.png" width="350px" height="350px">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="fields">
                        <mat-label>{{ "name" | translate }}</mat-label>
                        <input matInput autocomplete="off" formControlName="name">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="fields">
                        <mat-label>{{ "surname" | translate }}</mat-label>
                        <input matInput autocomplete="off" formControlName="surname">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="fields">
                        <mat-label>{{ "gender" | translate }}</mat-label>
                        <mat-select formControlName="gender">
                          <mat-option *ngFor="let item of genders" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button routerLink="./../users">{{ "cancel" | translate }}</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button style="background-color: #107fff; color: white">{{ "save" | translate }}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>