/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
}

.example-spacer {
    flex: 1 1 auto;
  }